/* Listing page */

.nope-listing-item {
  position: relative;
}

.nope-listing-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nope-listing-label {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.nope-listing-hidden {
  display: block;
  background-color: #EEEEEE;
  color: #FFFFFF;
  text-align: center;
}

/* Item page */

.nope-item-container {
  position: relative;
}

.nope-item-icon {
  position: absolute;
  cursor: pointer;
  left: 100%;
  top: 0px;
  width: 100px;
  height: 100px;
}

.nope-item-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #EEEEEE;
  color: #FFFFFF;
  text-align: center;
}

.nope-item-container > .nope-item-label {
  display: none;
}

.nope-item-hidden > * {
  opacity: 0.2
}

.nope-item-hidden > .nope-item-icon {
  display: none;
}

.nope-item-hidden > .nope-item-label {
  opacity: 1;
  display: block;
}